<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}
        Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/myapp.css' %}"
        rel="stylesheet" />
</head>

<body>
    <header class="header header-v2">
        <div class="header-container">
            <a href="#" class="logo">Ageavava</a>
            <nav class="nav">
                <a href="{% url 'home' %}" class="nav-link">Home</a>
                <a href="#" class="nav-link">About Us</a>
                <a href="#" class="nav-link">Contact</a>
            </nav>
        </div>
    </header>
    <div class="">{% block content %} {% endblock %}
        <!-- <div class="main-content">
            <section class="section">
                <h2 class="section-title">Berita Panas</h2>
                <div class="container1">
                    <h2 class="subtitle"><strong>Viral Isi Flashdisk Syahroni Tersebar, "Bugil Berdua Bareng Bahlil"</strong></h2>
                    <p class="text">Beberapa waktu lalu Syahroni mengungkap flashdisk miliknya hilang saat dijarah oleh warga. Tersebar ...</p>
                    <a href="{% url 'konversi' %}">
                        <button class="button1">
                            Konversi angka ke teks
                        </button>
                    </a>
                </div>
            </section>
        </div> -->
    </div>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3 class="footer-heading">Tentang Kami</h3>
                <a href="#" class="footer-link">Sejarah</a>
                <a href="#" class="footer-link">Tim Kami</a>
                <a href="#" class="footer-link">Nilai-nilai</a>
            </div>
            <div class="footer-section">
                <h3 class="footer-heading">Layanan</h3>
                <a href="#" class="footer-link">Desain Web</a>
                <a href="#" class="footer-link">UI/UX Design</a>
                <a href="#" class="footer-link">Development</a>
            </div>
            <div class="footer-section">
                <h3 class="footer-heading">Kontak</h3>
                <a href="#" class="footer-link">Email</a>
                <a href="#" class="footer-link">Telepon</a>
                <a href="#" class="footer-link">Lokasi</a>
            </div>
        </div>
        <div class="footer-bottom">
            <!-- <p>&copy; 2023 NovaDesign. Semua hak dilindungi.</p> -->
        </div>
    </footer>
    
    <div style="height: 50px;"></div>
    
    <script src="{% static 'js/myapp.js' %}"></script>
</body>
</html>