{% extends "base.html" %}
    {% block title %}
        Django App
    {% endblock %}

    {% block content %}
        <h1>Konversi Angka → Teks</h1>

        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="angka" placeholder="Masukkan angka">
            <button type="submit">Konversi</button>
        </form>

        {% if result %}
        <h2>Hasil: {{ result }}</h2>
        {% endif %}

        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}
    {% endblock %}