@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: aqua;
    background-color: black;
}

.button1 {
    height: 25px;
    background-color: rgb(41, 146, 41);
    color: beige;
}