<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}
        Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/myapp.css' %}" rel="stylesheet" />
</head>

<body>
    <header class="header">
        <div class="header-container">
            <a href="https://agaveingit.github.io/profile/" class="logo">Ageavava</a>
            <nav class="nav">
                <a href="{% url 'home' %}" class="nav-link">Home</a>
                <a href="https://agaveingit.github.io/profile/" class="nav-link">About Us</a>
                <a href="https://agaveingit.github.io/profile/" class="nav-link">Contact</a>
            </nav>
        </div>
    </header>
    <div class="">{% block content %} {% endblock %}</div>


    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3 class="footer-heading">Tentang Kami</h3>
                <a href="https://agaveingit.github.io/profile/" class="footer-link">Sejarah</a>
                <a href="https://agaveingit.github.io/profile/" class="footer-link">Tim Kami</a>
                <a href="https://agaveingit.github.io/profile/" class="footer-link">Nilai-nilai</a>
            </div>
            <div class="footer-section">
                <h3 class="footer-heading">Layanan</h3>
                <a href="https://agaveingit.github.io/profile/" class="footer-link">Desain Web</a>
                <a href="https://agaveingit.github.io/profile/" class="footer-link">UI/UX Design</a>
                <a href="https://agaveingit.github.io/profile/" class="footer-link">Development</a>
            </div>
            <div class="footer-section">
                <h3 class="footer-heading">Kontak</h3>
                <a href="https://agaveingit.github.io/profile/" class="footer-link">Email</a>
                <a href="https://agaveingit.github.io/profile/" class="footer-link">Telepon</a>
                <a href="https://agaveingit.github.io/profile/" class="footer-link">Lokasi</a>
            </div>
        </div>
        <div class="footer-bottom">
        </div>
    </footer>

    <div style="height: 50px;"></div>

    <script src="{% static 'js/myapp.js' %}"></script>
</body>

</html>