{% extends "base.html" %} 
    {% block title %}
        Home
    {% endblock %}

    {% block content %}

    <div class="main-content">
        <section class="section">
            <h2 class="section-title">Apps List</h2>
            <div class="container1">
                <h2 class="subtitle">Konversi Angka ke Teks</h2>
                <p class="text">Ini adalah aplikasi untuk mendapatkan ejaan suatu bilangan.</p>
                <a href="{% url 'konversi' %}">
                    <button class="button1">
                        Konversi angka ke teks
                    </button>
                </a>
                <!-- <button class="button2">Button 2</button> -->
            </div>
        </section>
    
        <!-- <section class="section">
            <h2 class="section-title">Konten Utama</h2>
            <div class="card">
                <h2 class="subtitle">Card Elegan</h2>
                <p class="text">Ini adalah contoh card dengan efek hover yang halus.</p>
                <input type="text" class="input" placeholder="Input elegan">
            </div> -->
    
            <div class="container2">
                <h2 class="subtitle">Generator Kode QR</h2>
                <p class="text">Ini adalah aplikasi untuk membuat kode QR dari teks atau link.</p>
                <!-- <button class="button1">Button 1</button> -->
                <a href="{% url 'qr_generator' %}">
                    <button class="button2">
                        QR Code Generator
                    </button>
                </a>
            </div>
        </section>
    </div>
    
    {% endblock %}