{% extends "base.html" %}
    {% block title %}
        Converter App
    {% endblock %}

    {% block content %}
    <div class="main-content">
        <section class="section">
            <h2 class="section-title">Konverter</h2>
            <div class="card">
                <h2 class="subtitle">Konversi Angka -> Teks</h2>
                <form method="POST" action="">
                    {% csrf_token %}
                        <input type="text" name="angka" placeholder="Masukkan angka" class="input">
                        <button type="submit" id="submitButton" class="button1">Konversi</button>
                </form>
                {% if result is not None %}
                <p class="text">Hasil: {{ result }}</h2>
                {% endif %}
                
                {% if error %}
                <p style="color:red;" class="text">{{ error }}</p>
                {% endif %}
            </div>
        </section>
    </div>
    {% endblock %}