{% extends "base.html" %}
    {% block title %}
    Django App
    {% endblock %}

    {% block content %}
        <form method="post">
            {% csrf_token %}
            <input type="text" name="data" placeholder="Masukkan teks/url">
            <select name="file_type">
                <option value="png" {% if file_type == "png" %} selected {% endif %}>PNG</option>
                <option value="svg" {% if file_type == "svg" %} selected {% endif %}>SVG</option>
            </select>
            <button type="submit" name="action" value="preview">Preview QR</button>
            <button type="submit" name="action" value="download">Download QR</button>
        </form>


        {% if qr_code and action == "preview" %}
            <h3>Hasil QR:</h3>
            {% if file_type == "png" %}
            <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
            {% elif file_type == "svg" %}
            <div>{{ qr_code|safe }}</div>
            {% endif %}
        {% endif %}
    {% endblock %}