{% extends "base.html" %}
    {% block title %}
    QR Generator
    {% endblock %}

    {% block content %}
    <div class="main-content">
        <section class="section">
            <h2 class="section-title">Generator Kode QR</h2>
            <div class="card">
                <h2 class="subtitle">Buat Kode QR dari Teks atau Link</h2>
                <form method="POST" action="">
                {% csrf_token %}
                    <input type="text" name="data" placeholder="Masukkan teks/url" class="input" value="{{ data }}">
                    <select name="file_type" class="select">
                        <option value="png" {% if file_type == "png" %} selected {% endif %}>PNG</option>
                        <option value="svg" {% if file_type == "svg" %} selected {% endif %}>SVG</option>
                    </select>
                    <button type="submit" name="action" value="preview" class="button1">Preview QR</button>
                    <button type="submit" name="action" value="download" class="button2">Download QR</button>
                </form>
                {% if qr_code and action == "preview" %}
                    <h3>Hasil QR:</h3>
                    <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
                {% endif %}
                </div>
            </section>
        </div>
    {% endblock %}
